
@{
    ViewBag.Title = "displayLines";
}

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>
<body>
    <canvas id="myCanvas"></canvas>
    <script>
        $(document).ready(function () {
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            c.width = window.innerWidth;
            c.height = window.innerHeight;
            var lon;
            var lat;
            var hasCircle = false;
            var lastLon;
            var lastLat;
            var IntervalTime = @Session["time"] * 1000   
            var i = 1;
            myTimer = (function () {
                $.post("@Url.Action("GetLonLat")").done(function (drawLines) {
                    deltaLon = Math.floor(Math.random() * 300) - 150;
                    deltaLat = Math.floor(Math.random() * 200) - 100;
                    lon = @Session["lon"];
                    lat = @Session["lat"];
                    i = i * -5
                    var lonNorm = (lon + 180) * (window.innerWidth / 360) + deltaLon;
                    var latNorm = (lat + 90) * (window.innerHeight / 180) + deltaLat;
                    if (!hasCircle) {
                        ctx.beginPath();
                        ctx.arc(lonNorm, latNorm, 30, 0, 2 * Math.PI);
                        ctx.lineWidth = 10;
                        ctx.lineStyle = 'black';
                        ctx.fillStyle = 'red';
                        ctx.fill();
                        ctx.stroke();
                        hasCircle = true;
                    } else {
                        ctx.beginPath();
                        ctx.lineWidth = 5;
                        ctx.strokeStyle = 'red';
                        ctx.moveTo(lastLon, lastLat);
                        ctx.lineTo(lonNorm, latNorm);
                        ctx.stroke();
                    }
                    lastLon = lonNorm;
                    lastLat = latNorm;
                    
                });
            });
            setInterval(myTimer, IntervalTime);
            myTimer();
        });

    </script>
</body>

